@charset "UTF-8";

:root {
  --primary-gray: #151515;
  --secondary-gray: #202020;
  --font-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: "Roboto Mono","Nova Mono","Fira Code", monospace;
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-primary-gray {
  background-color: var(--primary-gray) !important;
}

.bg-secondary-gray {
  background-color: var(--secondary-gray) !important;
}

.article {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;
  
}

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 25rem;
  height: 0.08rem;
  background-color: #000;
  border-radius: 1rem;
  border-color: #000;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #000;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #FFF;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #FFF;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
