@charset "UTF-8";

@font-face {
  font-family: 'oldeEnglish';
  src: local(oldeEnglish), url(../assets/font/OldeEnglish.ttf);
}

:root {
  --primary-gray: #151515;
  --secondary-gray: #202020;
  --primary-blue: rgb(70, 181, 254);
  --primary-green: #25d366;
  --dark-green: #20c861;
  --font-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-monospace: "Roboto Mono","Nova Mono","Fira Code", monospace;
  --body-font-family: var(--font-sans-serif);
  --body-font-size: 1rem;
  --body-font-weight: 400;
  --body-line-height: 1.5;
  --body-bg: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  line-height: var(--body-line-height);
  text-align: var(--body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* ========================================= Cores ========================================= */

.bg-primary-gray {
  background-color: var(--primary-gray) !important;
}

.bg-secondary-gray {
  background-color: var(--secondary-gray) !important;
}

/* ========================================= Navegação ========================================= */

.navbar-nav .nav-item .nav-link.active, .navbar-nav .show>.nav-link {
  color: var(--primary-blue);
}

.nav-link:hover, .dropdown-item:hover {
  color: var(--primary-blue);
}
.dropdown-item:hover {
  background-color: inherit;
}
.nav-item.dropdown .dropdown-menu {
  background-color: rgba(33,37,41,.75);
  margin-top: 7px;
}

.navbar .navbar-brand {
  font-family: oldeEnglish;
  font-size: 2.4rem;
}


/* ========================================= Botoes ========================================= */

.btn-xm {
  max-width: 25rem;
}

.btn-xm a.btn-wpp {
  font-size: 1.2rem;
  font-weight: bold;
  color: #FFF;
  background-color: var(--primary-green);;
  transition: all .6s;
}
.btn-xm a.btn-wpp:hover {
  background-color: var(--dark-green);
  opacity: 0.8;
  border: none;
}

.btn-social {
  border-radius: 100%;
  display: inline-flex;
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  justify-content: center;
  align-items: center;
}

.btn-social:hover {
  color: #FFFFFF;
}

.btn-social.facebook:hover {
  background-color: var(--primary-blue);
}
.btn-social.instagram:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.btn-social.whatsapp:hover {
  background-color: var(--primary-green);
}

/* ========================================= Textos ========================================= */

.oldeEnglish {
  font-family: oldeEnglish;
}

.text-justify {
  text-align: justify;
}

.list {
  line-height: 1.2rem;
  list-style: none;
  margin-left: -10px;
}

.heading {
  font-weight: bold;
  padding: 2rem;
}

h1.heading {
  font-size: 3rem;
}
h2.heading {
  font-size: 2.4rem;
}
h3.heading {
  font-size: 1.8rem;
}
h4.heading {
  font-size: 1.2rem;
}
h5.heading {
  font-size: .8rem;
}
h6.heading {
  font-size: .6rem;
}
.article {
  font-size: 1.25rem;
  font-weight: 300;
  text-align: justify;  
}

/* ================================= Utilitaios Seções =================================  */

.divider-custom {
  margin: 1.25rem 0 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 25rem;
  height: 0.08rem;
  background-color: #000;
  border-radius: 1rem;
  border-color: #000;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 1rem;
}
.divider-custom .divider-custom-icon {
  color: #000;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #FFF;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #FFF;
}

.xm-card {
  padding: 4rem 0;
  margin: 0 5px;
}

.page-section {
  padding: 5rem 0;
}

/* =============================== Carousel | Slider ====================================== */

.MultiCarousel { 
  float: left; 
  overflow: hidden; 
  padding: 15px; 
  width: 100%; 
  position:relative; 
}
.MultiCarousel .MultiCarousel-inner { 
  transition: 1s ease all; 
  float: left; 
}
.MultiCarousel .MultiCarousel-inner .item { 
  float: left;
}
.MultiCarousel .MultiCarousel-inner .item > div { 
  text-align: center; 
  padding:10px; 
  margin:10px; 
  background: var(--secondary-gray); 
  color:#FFF;
}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { 
  position:absolute; border-radius:50%;
  top:calc(50% - 20px); 
}
.MultiCarousel .leftLst { 
  left:0; 
}
.MultiCarousel .rightLst { 
  right:0; 
}
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; 
  background:#ccc; 
}